<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <application>
    <activity
      android:name="androidx.activity.ComponentActivity"
      android:showWhenLocked="true" />
    <service
      android:name=".voiceagent.VoiceAgentCallService"
      android:exported="true"
      android:permission="android.permission.DUMP"
      tools:replace="android:exported" />
    <receiver
      android:name=".voiceagent.debug.VoiceCaptureFixtureDebugReceiver"
      android:exported="true"
      android:permission="android.permission.DUMP">
      <intent-filter>
        <action android:name="me.rerere.rikkahub.debug.voiceagent.ARM_CAPTURE_FIXTURE" />
        <action android:name="me.rerere.rikkahub.debug.voiceagent.STAGE_CAPTURE_FIXTURE" />
        <action android:name="me.rerere.rikkahub.debug.voiceagent.TRIGGER_CAPTURE_FIXTURE" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".voiceagent.debug.VoiceAgentDebugSeedReceiver"
      android:exported="true"
      android:permission="android.permission.DUMP">
      <intent-filter>
        <action android:name="me.rerere.rikkahub.debug.voiceagent.SEED_HERMES_PROVIDER" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".voiceagent.debug.HermesTextDebugReceiver"
      android:exported="true"
      android:permission="android.permission.DUMP">
      <intent-filter>
        <action android:name="me.rerere.rikkahub.debug.voiceagent.SEND_HERMES_TEXT" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".voiceagent.debug.VoiceAutomationControlReceiver"
      android:exported="true"
      android:permission="android.permission.DUMP">
      <intent-filter>
        <action android:name="me.rerere.rikkahub.voiceagent.automation.PREPARE" />
        <action android:name="me.rerere.rikkahub.voiceagent.automation.STATUS" />
        <action android:name="me.rerere.rikkahub.voiceagent.automation.MARK" />
        <action android:name="me.rerere.rikkahub.voiceagent.automation.ROUTE" />
        <action android:name="me.rerere.rikkahub.voiceagent.automation.FINALIZE" />
        <action android:name="me.rerere.rikkahub.voiceagent.automation.FINALIZE_BOUND" />
        <action android:name="me.rerere.rikkahub.voiceagent.automation.DUMP" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
